%% Здесь будут лежать зависимости
{deps_dir, ["deps"]}.
%% Поддиректории, в которые rebar должен заглядывать
{sub_dirs, ["apps/enetconf_client"]}.
%% Опции компилятора
{erl_opts, [debug_info, fail_on_warning]}.
%% Список зависимостей
%% В директорию gproc будет клонирована ветка master соответствующего git-репозитория.
{deps,
 [
    {gproc, ".*", {git, "http://github.com/esl/gproc.git", "master"}}
 ]
}.
